@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}