@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.clicked:hover {
  background: white;
}

.loading {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 50%;
  border-top-color: rgb(233, 233, 233);
  animation: loading 1s infinite;
}

@keyframes loading {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
