<div class="wrapper">
  <div class="nav">
    <mat-toolbar color="primary">
      <mat-icon>event</mat-icon>
      <span class="title">Calendar</span>
    </mat-toolbar>
  </div>
  <div class="sidenav">
    <div class="actions">
      <button mat-flat-button color="primary" (click)="onCreateReminder(selectedDay)"> Add
        Reminder </button>
      <button mat-stroked-button color="secondary" (click)="deleteAllReminders(selectedDay)"> Delete all reminders </button>
    </div>
    <div class="selected-day">
      <span>
        {{selectedDay.date | dateFormat: 'dddd, MMMM Do'}}
      </span>
      <div class="reminder" *ngFor="let r of selectedDay.reminders" [ngStyle]="{'border-left': '8px solid' + r.color}"
        (click)="onEditReminder({reminder: r, event: $event})">
        <div class="top">
          <span class="time">{{r.dateTime | dateFormat: 'h:mm a'}}</span>
          <img [matTooltip]="r.forecastDesc || ''" *ngIf="r.forecast" class="forecast"
            [src]="'assets/icons/' + r.forecast + '.png'" />
        </div>
        <span class="title">{{r.title}}</span>
        <div class="bottom">
          <span class="city">{{r.city}}</span>
          <mat-icon color="warn" (click)="deleteReminder(r, $event)">delete_outline</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="toolbar">
    <mat-toolbar>
      <mat-form-field style="width:1px;visibility:hidden;">
        <input matInput [matDatepicker]="picker">
        <mat-datepicker #picker startView="year" [startAt]="startDate"
          (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
      </mat-form-field>
      <button class="calendar-button" mat-icon-button>
        <mat-icon (click)="picker.open()">today</mat-icon>
      </button>
      <div class="current-date">
        <span>
          {{startDate | dateFormat: 'MMMM, YYYY'}}
        </span>
      </div>
    </mat-toolbar>
  </div>
  <div class="calendar">
    <div class="calendar-title">
      <span *ngFor="let d of daysOfWeek">
        {{d}}
      </span>
    </div>
    <div class="calendar-days">
      <div class="calendar-day" *ngFor="let day of calendar"
        [ngClass]="{clicked: day.isActive, 'other-month': day.isOtherMonth, grey: day.isWeekend}">
        <app-calendar-day [day]="day" (onSelectDay)="onSelectDay($event)" (onEditReminder)="onEditReminder($event)"
          [isBigCalendar]="calendar.length >= 42">
        </app-calendar-day>
      </div>
    </div>
  </div>
</div>