.small-calendar {
  height: 16.2vh;
}
.big-calendar {
  height: 13.5vh;
}
.day {
  position: relative;
  background-color: transparent;
  border: 1px solid #edebe9;
  & .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .forecast {
      height: 20px;
      width: 20px;
      margin-right: 5px;
      margin-top: 5px;
    }
    & .header {
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
  & .reminder {
    cursor: pointer;
    font-size: 14px;
    color: black;
    &:hover {
      background: rgba(211, 211, 211, 0.336);
    }
    & .title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      & .circle {
        margin-left: 2px;
        margin-top: 1px;
        $size: 8px;
        height: $size;
        width: $size;
        box-sizing: border-box;
        border-radius: 100%;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
      }
      & .title,
      .date {
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 105px;
      }
    }
  }
}

@media only screen and (max-width: 1550px) {
  .day {
    .reminder {
      font-size: 12px;
    }
  }

  .title {
    font-size: 10px;
  }
  .small-calendar {
    height: 15.6vh !important;
  }
  .big-calendar {
    height: 12.9vh !important;
  }
}

@media only screen and (max-height: 768px) {
  .day {
    height: 150px;
  }
}
